.message {
  padding-top: 30px;
  padding-left: 50px;
  width: calc(100vw / 2);
  font-optical-sizing: auto;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 10px;
  color: #666;
  line-height: 1.5;
}
