.buttonsContainer {
  display: flex;
  padding-top: 30px;
  padding-left: 40px;
  margin: 0 auto;
  width: calc(100vw / 2);
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.feedbackBtn {
  width: 150px;
  height: 80px;
  border: none;
  border-radius: 6px;
  box-shadow: 0px 0.5px 0.5px 0.5px #ffffff;
  color: black;
  transition: scale 250ms;
}

.feedbackBtn:hover {
  background-color: #d5d1d1;
  transform: scale(1.03);
}
